# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
db.sqlite3

# Logs
*.log

# Environment variables
.env

# VS Code
.vscode/

# Node (if used)
node_modules/

# Static files
staticfiles/

# Media uploads
media/